.container {
    display: flex;
    flex-direction: column;
}

.img {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

button {
    width: 90px;
    height: 30px;
}